{% extends "::base.html.twig" %}

{% block body %}
    
  <a href="{{ path('adneom_series_homepage')}}"> Retour à la page d'accueil</a>

  <h2>{{ episode.name }}</h2>

  <img src="{{ episode.image.medium }}" />
  
  {{ episode.summary|raw }}

{% endblock %}